#services
    padding: 50px 0
    background-color: #d7ffd7
    .textbox
        border-radius: 15px
        text-align: center
        padding: 15px
        h1
            font-size: 35px
            font-weight: 600
            margin-bottom: 15px
        h3
            font-weight: 400
            font-size: 20px
    .minibox
        margin: 35px 0
        text-align: center
        p
            font-size: 17px
            padding: 30px
            line-height: 1.2
            background-color: #7bd9fb
            border-radius: 20px